@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: burlywood;
}

.container {
  padding: 40px;
  margin: 0;
}
